* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

#container {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
}

/*Header Section */

.header {
    grid-row: 1;
    grid-column: 2; 
    
    display: grid;
    grid-template-rows: auto auto;

    align-items: center;

    padding-top: 20px;
    padding-left: 5px;
    background-color: #cfdbf3;
    border-radius: 5px;
}


#top-header {
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 20px;
    align-items: center;
}

#low-header {
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    margin: 25px 5px;
}

.search-bar {
    display: grid;
    grid-template-columns:auto 1fr;
    column-gap: 10px;
    align-items: center;
}

#search-icon {
    width: 2rem;
    height: auto;
    padding-left:100px;
    padding-right: 10px;
}

.search {
    width: 700px;
    height: 35px;

    border: none;
    border-radius: 15px;
    background-color: rgb(235, 235, 235)
}

.profile {
    padding-right: 25px;
    display: grid;
    grid-template-columns: 1fr auto auto;
    column-gap: 20px;
    align-items: center;
}

#notification-icon {
    grid-column: 1;
    width: 2rem;
    height: auto;
    margin-right: 20px;
}

#profile-pic {
    grid-column: 2;
    width: 4rem;
    border-radius: 50%;
    height: auto;
    cursor: pointer;
    border: 2.5px solid black;
}

#profile-name {
    grid-column: 3;
    font-size: 1rem;
    font-weight: bold;
    margin-right: 25px;
}

.profile-big {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    column-gap: 10px;
    margin-left: 80px;
}

.profile-pic {
    grid-column: 1;
    height: 4rem;
    width: auto;
    border-radius: 50%;
    border: 2.5px solid black;
}

#intro-name {
    grid-column: 2;
}

.text-hello {
    font-weight: bold;
    font-size: 1rem;
}

.text-name {
    font-weight: bold;
    font-size: 1.3rem;
    margin-top: 5px;
}

.header-btn > button {
    border-radius: 15px;
    width: 100px;
    height: 50px;
    margin-left: 20px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    background-color: #6196ff;
    border: none;
    cursor: pointer;
    justify-self: end;
    margin-right: 50px;
}

.header-btn > button:hover {
    background-color: #769ff1;
}


/* Sidebar section*/

.sidebar {
    grid-column: 1;
    grid-row: 1/3;

    background-color: #C9082A;
    border-radius: 5px;
}


.sidebar-title {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 5px;
    margin-top: 10px;
    align-items: center;
}

.dashboard-icon {
    height: 50px;
    width: auto;
    background-color: white;
    margin-left: 20px;
}

.sdb-title {
    font-weight: bold;
    font-size: 28px;
    margin-right: 25px;
}

.sidebar-icons {
    display: grid;
    grid-template-rows:  repeat(6, 1fr);
    row-gap: 25px;
    margin-top: 50px;
    margin-left: 20px;
}

.sidebar-icons img {
    height: 35px;
    width: auto;
    cursor: pointer;
}

.sidebar-icons > div {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 20px;
    align-items: center;
    border-radius: 15px;
    margin-right: 10px;
    padding: 5px;
}

.sidebar-icons p {
    font-size: 20px;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.sidebar-icons > div:hover {
    background-color: #b46472;
}



/* Content */

.main-content {
    grid-column: 2;
    grid-row: 2;

    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: start;
}

.main-right {
    grid-column: 2;

    display: grid;
    grid-template-rows: auto auto;
    align-items: start;
    margin-left: 50px;
}

.main-content > p {
    grid-column: 1/3;
    grid-row: 1;

    font-weight: bold;
    font-size: 30px;
    margin-top: 15px;
    margin-left: 40px;

   
}

.main-block {
    grid-column: 1; 
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 30px;
    margin-left: 40px;
    align-items: start;
}

#announcements-text {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid black;
}


.announcements {
    grid-row: 1;

    display: grid;
    grid-template-rows: auto auto auto;
    gap: 10px;
    align-items: center;

    padding: 20px;
    background-color: rgb(245, 245, 245);
    border-radius: 15px;

    margin-right: 50px;
}

.trending {
    grid-row: 2;
}

.block-title {
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 15px;
    font-size: 1.2rem;
    cursor: pointer;
    
}

.block-text {
    text-align: justify;
    font-size: 1rem;
}


.block {
    background-color: rgb(233, 233, 233);
    border-radius: 15px;
    padding: 30px;
}



img {
    height: 100px;
}

.announcements-block > div {
    border-bottom: 1px solid black;
}

.announcements-block > p {
    text-align: justify;
}

.announcement-title {
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;
}

.announcement-text {
    color: rgb(129, 129, 129);
    margin-bottom: 10px;
}

.trending {
    background-color: rgb(245, 245, 245);
    padding: 30px;
    margin-top: 50px;

    border-radius: 15px;
    margin-right: 50px;

}

.trending > p {
    font-weight: bold;
    font-size: 18px;

    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

.profiles {
    display: grid;

    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
}

.profiles > div {
    display: flex;
    flex-direction: row;
    align-items: center ;
}

.username {
    margin-left: 20px;
}

.profile1 {
    margin-top: 10px;
}